@{
    Layout = "_Layout";
}
<!-- ============================================-->
<!-- Preloader ==================================-->
<div class="preloader" id="preloader">
    <div class="loader">
        <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
        </div>
    </div>
</div>
<!-- ============================================-->
<!-- End of Preloader ===========================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-lg-7 py-xl-8 mt-5 bg-light" id="ecommerceHeader">

    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-3 col px-4" style="max-width: 42.81rem">
                <h1 class="display-4 fs-6 fs-sm-5 fs-md-4">proudly<span class="font-base fst-italic fw-normal px-2 px-md-3">crafted</span>in <br class="d-none d-sm-block" />m&uuml;nich since 1987</h1>
                <p class="mt-4 mb-0">All our products are handmade by local artisans who use ancestral techniques. Thanks to the unique know-how of each craftsman involved in the production chain, each product bears its own story, having benefited from unique and personalized care, from its preparation to its arrival in m&uuml;nich. The Ecuadorian Boutique is also a reference for Ecuadorian leather goods, jewelry and ready-to-wear brands.</p>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="ecommerceProducts">

    <div class="container-fluid px-4">
        <div class="row mb-5">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
                        <div class="hoverbox">
                            <div class="row">
                                <div class="col"><img class="w-100" src="~/lib/img/ecommerce/1.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                            </div>
                            <div class="hoverbox-content hoverbox-background">
                                <div class="hoverbox-bg d-flex flex-center h-100 w-100"><img class="w-100" src="~/lib/img/ecommerce/2.jpg" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Tops &amp; Tees</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;354.00</h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                        <div class="badge badge-rotate bg-warning" data-zanim-xs='{"delay":0.8,"animation":"slide-down"}'><span class='fas fa-star'></span> Best selling</div>
                        <div class="hoverbox">
                            <div class="row">
                                <div class="col"><img class="w-100" src="~/lib/img/ecommerce/3.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                            </div>
                            <div class="hoverbox-content hoverbox-background">
                                <div class="hoverbox-bg d-flex flex-center h-100 w-100"><img class="w-100" src="~/lib/img/ecommerce/4.jpg" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Wear to Work</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;234.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;454.00</del>
                            </span>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
                        <div class="hoverbox">
                            <div class="row">
                                <div class="col"><img class="w-100" src="~/lib/img/ecommerce/5.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                            </div>
                            <div class="hoverbox-content hoverbox-background">
                                <div class="hoverbox-bg d-flex flex-center h-100 w-100"><img class="w-100" src="~/lib/img/ecommerce/6.jpg" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Sunny Vacation</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;566.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;765.00</del>
                            </span>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
                        <div class="hoverbox">
                            <div class="row">
                                <div class="col"><img class="w-100" src="~/lib/img/ecommerce/7.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                            </div>
                            <div class="hoverbox-content hoverbox-background">
                                <div class="hoverbox-bg d-flex flex-center h-100 w-100"><img class="w-100" src="~/lib/img/ecommerce/8.jpg" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Winter Jacket</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;543.00</h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
                        <div class="badge badge-rotate bg-danger" data-zanim-xs='{"delay":0.8,"animation":"slide-down"}'>Out of stock</div>
                        <div class="row">
                            <div class="col"><img class="w-100" src="~/lib/img/ecommerce/9.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Women's Ophelia Midi Dress</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;875.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;999.00</del>
                            </span>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                        <div class="row">
                            <div class="col"><img class="w-100" src="~/lib/img/ecommerce/11.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Women's Ophelia Midi Dress</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;454.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;766.00</del>
                            </span>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
                        <div class="row">
                            <div class="col"><img class="w-100" src="~/lib/img/ecommerce/13.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Women's Sandwashed Crepe De Chine</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;212.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;234.00</del>
                            </span>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <a class="row g-0" href="../pages/product-single.html">
                    <div class="col-12 overflow-hidden rounded position-relative" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
                        <div class="badge badge-rotate bg-success" data-zanim-xs='{"delay":0.8,"animation":"slide-down"}'>Now trending</div>
                        <div class="row">
                            <div class="col"><img class="w-100" src="~/lib/img/ecommerce/15.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' /></div>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <h5 class="fs-9">Women's Rib Knit Jersey Long-Sleeve</h5>
                    </div>
                    <div class="col-6 mt-2 text-end">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;546.00</h6>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="row g-0">
                    <div class="col-12 overflow-hidden rounded" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
                        <div class="row" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                            <div class="col">
                                <div class="swiper theme-slider swiper-theme" data-swiper='{"loop":true,"effect":"fade","pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}' data-zanim-lg='{"animation":"zoom-out","delay":0}' data-zanim-trigger="scroll">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/2.jpg" alt="" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/1.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-nav">
                                        <div class="swiper-button-next me-md-3"></div>
                                        <div class="swiper-button-prev ms-md-3"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="col-6 mt-2" href="#!">
                        <h5 class="fs-9">Women's Tiffa Shirt</h5>
                    </a><a class="col-6 mt-2 text-end" href="#!">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;454.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;675.00</del>
                            </span>
                        </h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="row g-0">
                    <div class="col-12 overflow-hidden rounded" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                        <div class="row" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                            <div class="col">
                                <div class="swiper theme-slider swiper-theme" data-swiper='{"loop":true,"effect":"fade","pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}' data-zanim-lg='{"animation":"zoom-out","delay":0}' data-zanim-trigger="scroll">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="badge badge-rotate bg-warning" data-zanim-xs='{"delay":0.8,"animation":"slide-down"}'><span class='fas fa-star'></span> Best selling</div><a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/4.jpg" alt="" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="badge badge-rotate bg-warning" data-zanim-xs='{"delay":0.8,"animation":"slide-down"}'><span class='fas fa-star'></span> Best selling</div><a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/3.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-nav">
                                        <div class="swiper-button-next me-md-3"></div>
                                        <div class="swiper-button-prev ms-md-3"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="col-6 mt-2" href="#!">
                        <h5 class="fs-9">Women's Cropped Wide Leg Crpe Pant</h5>
                    </a><a class="col-6 mt-2 text-end" href="#!">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;454.00</h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="row g-0">
                    <div class="col-12 overflow-hidden rounded" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
                        <div class="row" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                            <div class="col">
                                <div class="swiper theme-slider swiper-theme" data-swiper='{"loop":true,"effect":"fade","pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}' data-zanim-lg='{"animation":"zoom-out","delay":0}' data-zanim-trigger="scroll">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/6.jpg" alt="" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/4.jpg" alt="" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/5.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-nav">
                                        <div class="swiper-button-next me-md-3"></div>
                                        <div class="swiper-button-prev ms-md-3"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="col-6 mt-2" href="#!">
                        <h5 class="fs-9">Women's Rory Herringbone Stripe</h5>
                    </a><a class="col-6 mt-2 text-end" href="#!">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;123.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;323.00</del>
                            </span>
                        </h6>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="row g-0">
                    <div class="col-12 overflow-hidden rounded" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
                        <div class="row" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                            <div class="col">
                                <div class="swiper theme-slider swiper-theme" data-swiper='{"loop":true,"effect":"fade","pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}' data-zanim-lg='{"animation":"zoom-out","delay":0}' data-zanim-trigger="scroll">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/8.jpg" alt="" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="../pages/product-single.html"><img class="h-100 w-100" src="~/lib/img/ecommerce/7.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-nav">
                                        <div class="swiper-button-next me-md-3"></div>
                                        <div class="swiper-button-prev ms-md-3"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="col-6 mt-2" href="#!">
                        <h5 class="fs-9">Women's Ella Cotton Boot Cut</h5>
                    </a><a class="col-6 mt-2 text-end" href="#!">
                        <h6 class="fw-normal mb-0 d-inline-block">&#36;334.00</h6>
                        <h6 class="fw-normal text-body-secondary">
                            <span class="d-inline-block">
                                <del>&#36;434.00</del>
                            </span>
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="text-center bg-light pt-6 pt-lg-8 pb-0 pb-sm-5 pb-lg-8" id="ecommerceSubscribe">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="#!">
                    <h5 class="fw-normal mb-3 text-uppercase text-center ls-2">follow  sparrow</h5>
                </a>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6 pe-xl-4">
                <div class="row g-2" id="ecommerce-gallery">
                    <div class="col-6">
                        <a href="#!" data-bp="~/lib/img/shop-1-f.jpg" data-bigpicture='{"gallery":"#ecommerce-gallery"}' data-caption="your caption"><img class="rounded img-fluid" src="~/lib/img/shop-1.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></a>
                    </div>
                    <div class="col-6">
                        <a href="#!" data-bp="~/lib/img/shop-3-f.jpg" data-bigpicture='{"gallery":"#ecommerce-gallery"}' data-caption="your caption"><img class="rounded img-fluid" src="~/lib/img/shop-3.jpg" alt="" data-zanim-xs='{"delay":0,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-body rounded border border-dark p-4 p-sm-6 p-lg-5 p-xl-6 mt-7 mt-lg-0">
                    <h4 class="mb-3 fw-bold">Sign up and recieve<span class="font-base fst-italic"> hot deals</span></h4>
                    <div class="input-group mb-3">
                        <input class="form-control bg-light" type="text" placeholder="Enter Email Here" aria-label="Recipient's username" aria-describedby="button-addon-e" />
                        <button class="btn btn-dark btn-outline-dark text-light px-2 px-sm-3 px-lg-4" id="button-addon-e" type="button">subscribe</button>
                    </div>
                    <h6 class="fw-normal text-body">we respect your privacy</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="text-center" id="ecommerceFooter">

    <div class="container">
        <div class="row flex-center">
            <div class="col-lg-6">
                <a href="#!"><span class="fab fa-facebook-f text-black fs-8 mx-2"></span></a><a href="#!"><span class="fab fa-twitter text-black fs-8 mx-2"></span></a><a href="#!"><span class="fab fa-pinterest-p text-black fs-8 mx-1 mx-sm-2"></span></a>
                <div class="d-block mt-4 fs-10 fw-bold font-secondary"><a class="me-1 mx-sm-2 text-body" href="#!">Contact</a><a class="mx-1 mx-sm-2 text-body" href="#!">Shipping &amp; returns</a><a class="mx-1 mx-sm-2 text-body" href="#!">Terms of service</a><a class="mx-1 mx-sm-2 text-body" href="#!">Privacy policy</a></div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->